name: Platform Android

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  platform_android:
    strategy:
      matrix:
        os: [ubuntu-latest]
        # No target needed here.
        # xcodebuild automatically builds for all architectures and compresses them into one APP
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Cache target/
        id: target-cache
        uses: actions/cache@v3
        with:
          path: target
          key: platform_android-${{ runner.os }}-target

      - name: Install Rust
        run: curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain stable --profile minimal -y

      - name: Install target x86_64-linux-android
        run: rustup target add x86_64-linux-android
      - name: Install target aarch64-linux-android
        run: rustup target add aarch64-linux-android
      - name: Install target i686-linux-android
        run: rustup target add i686-linux-android
      - name: Install target armv7-linux-androideabi
        run: rustup target add armv7-linux-androideabi

      - name: Install cargo-apk
        run: cargo install cargo-apk

      # KeyStore Setup
      - name: Generate Debug KeyStore
        run: cd platform/android/.android && echo -e "android\nandroid\n\n\n\n\n\n\nyes" | keytool -genkey -v -keystore debug.keystore -alias release -keyalg RSA -keysize 2048 -validity 10000
      - name: Generate Release KeyStore
        run: cd platform/android/.android && echo -e "android\nandroid\n\n\n\n\n\n\nyes" | keytool -genkey -v -keystore release.keystore -alias release -keyalg RSA -keysize 2048 -validity 10000

      - name: Check
        run: cargo apk check --package platform_android
      - name: Build (Debug)
        run: cargo apk build --package platform_android
      - name: Build (Release)
        run: cargo apk build --package platform_android --release
      # Testing can't be done on iOS.
      # However, we are testing on the `shared` code and other architectures.

      - uses: actions/upload-artifact@v3
        with:
          name: "platform_android_debug_multi"
          path: target/debug/apk/
          if-no-files-found: error
      - uses: actions/upload-artifact@v3
        with:
          name: "platform_android_release_multi"
          path: target/release/apk/
          if-no-files-found: error
